﻿@model IEnumerable<Object>
@{
    List<SDI_Gestion.Models.Usuario> lstUsuario = Model.ToList()[0] as List<SDI_Gestion.Models.Usuario>;
    SDI_Gestion.Models.Usuario usuarioEdit = Model.ToArray()[1] as SDI_Gestion.Models.Usuario;
    SDI_Gestion.Models.Usuario usuarioNew = Model.ToArray()[2] as SDI_Gestion.Models.Usuario;
    List<SDI_Gestion.Models.Perfil> lstPerfil = Model.ToList()[3] as List<SDI_Gestion.Models.Perfil>;
    List<SDI_Gestion.Models.Area> lstArea = Model.ToList()[4] as List<SDI_Gestion.Models.Area>;

    string classAlerta = string.Empty;

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">

<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<script>

    $(document).ready(function (e) {
        $('#editarUsuario').on('show.bs.modal', function (e) {
            var id = $(e.relatedTarget).data().id;

            var modal = @Html.Raw(Json.Encode(lstUsuario));

            for (var i in modal) {
                if (id == modal[i].id_Usuario) {
                    $(e.currentTarget).find('#usuarioEdit_nombre_Usr').val(modal[i].nombre_Usr);
                    $(e.currentTarget).find('#usuarioEdit_ape_Usuario').val(modal[i].ape_Usuario);
                    $(e.currentTarget).find('#usuarioEdit_usuari_RutCompuesto').val(modal[i].rut_Usuario + "-" + modal[i].dv_Usuario);
                    $(e.currentTarget).find('#usuarioEdit_email_Usr').val(modal[i].email_Usr);
                    $(e.currentTarget).find('#usuarioEdit_fono_Usuario').val(modal[i].fono_Usuario);
                    $(e.currentTarget).find('#usuarioEdit_id_Usuario').val(modal[i].id_Usuario);
                    $(e.currentTarget).find('#usuarioEdit_dv_Usuario').val(modal[i].dv_Usuario);
                    $("#usuarioEdit_area_Usuario_id_Area").val(modal[i].id_Area);
                    $("#usuarioEdit_perfil_Usuario_id_Perfil_Usuario").val(modal[i].id_Perfil_Usuario);
                    if (modal[i].cod_Estado_Usr == "VIG")
                        $("#HabilitadoEditS").prop("checked", true);
                    else
                        $("#HabilitadoEditN").prop("checked", true);

                }
            };
        });

        $('#tablaUsuarios').DataTable(
                 {
                     "language": {
                         "lengthMenu": "Motrar _MENU_ registros por página",
                         "zeroRecords": "Sin información",
                         "info": "Mostrando página _PAGE_ de _PAGES_",
                         "infoEmpty": "Sin información disponible",
                         "infoFiltered": "(filtered from _MAX_ total records)"
                     }
                 }
        );

        setTimeout(function () {
            $(".content").fadeOut(1500);
        }, 3000);

    });

</script>


<div class="row">
    @*<div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Mantenedores</a></li>
                <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
            </ol>
        </nav>
    </div>*@
   
    @if (TempData["Mensaje"] != null)
    {

        <div class="col-6 mb-3" style="margin-top:0%;">

            <div class="content" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="col-md-12 alert alert-success">
                    <button type="button" class="close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["Mensaje"].ToString()
                </div>
            </div>
        </div>
    }
</div>


<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <h2>Usuarios</h2>
            </div>
            <div class="col-md-9">
                <button class="btn btn-primary float-right" data-toggle="modal"
                        data-target="#agregarUsuario">
                    <i class="bi bi-plus-lg mr-1"></i> Agregar
                    usuarios
                </button>
            </div>
            <div class="col-12 mt-3">
                <table id="tablaUsuarios" class="table table-bordered text-dark table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Nombre</th>
                            <th>RUT</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Area</th>
                            <th>Perfil</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usu in lstUsuario)
                        {
                            <tr>
                                <th>
                                    <a href="#" id="edita" data-nombre="@usu.nombre_Usr" data-id="@usu.id_Usuario" data-toggle="modal" data-target="#editarUsuario">
                                        @usu.nombre_Usr @usu.ape_Usuario
                                    </a>
                                </th>
                                <td>@usu.rut_Usuario-@usu.dv_Usuario </td>
                                <td>@usu.email_Usr</td>
                                <td>@usu.fono_Usuario</td>
                                @foreach (var areas in lstArea)
                                {
                                    if (usu.id_Area.Equals(areas.id_Area))
                                    {
                                        <td>@areas.dsc_Area</td>
                                    }
                                }

                                <td>@usu.perfil_Usuario.descripcion_Perfil</td>
                                @if (@usu.cod_Estado_Usr.Equals("VIG"))
                                {
                                    <td><i class="bi bi-circle-fill text-success"></i> Vigente</td>
                                }
                                else if (@usu.cod_Estado_Usr.Equals("PEN"))
                                {
                                <td><i class="bi bi-circle-fill text-info"></i> Pendiente</td>
                                }
                                else
                                {
                                <td><i class="bi bi-circle-fill text-warning"></i> Anulado</td>
                                }


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<!-- AGREGAR USUARIO MODAL -->
<div class="modal fade" id="agregarUsuario" tabindex="-1" role="dialog" aria-hidden="true">
    public static System.Web.Mvc.Html.MvcForm BeginForm (this System.Web.Mvc.HtmlHelper htmlHelper, string actionName, string controllerName, System.Web.Routing.RouteValueDictionary routeValues, System.Web.Mvc.FormMethod method);
    @using (Html.BeginForm("EditaModifica", "Usuario", null, FormMethod.Post, null))
    {
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Agregar usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    @Html.TextBoxFor(Model => usuarioNew.nombre_Usr, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => usuarioNew.nombre_Usr, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Apellido</label>
                                    @Html.TextBoxFor(Model => usuarioNew.ape_Usuario, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => usuarioNew.ape_Usuario, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="rut">RUT</label>
                                    @Html.TextBoxFor(Model => usuarioNew.usuari_RutCompuesto, new { @class = "form-control", @onkeyup = "formateaRut(this);", @onblur = "return Rut(this);" })
                                </div>
                                <div class="form-group">
                                    <label for="email">Correo</label>
                                    @Html.TextBoxFor(Model => usuarioNew.email_Usr, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => usuarioNew.email_Usr, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="email">Teléfono</label>
                                    @Html.TextBoxFor(Model => usuarioNew.fono_Usuario, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => usuarioNew.fono_Usuario, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="perfil">Área</label>
                                    @Html.DropDownListFor(x => usuarioNew.area_Usuario.id_Area,
                                        new SelectList(lstArea, "id_Area", "dsc_Area"),
                                        "-- Please select area --", new { @class = "form-control" }
                                    )
                                    @Html.ValidationMessageFor(x => usuarioNew.area_Usuario.id_Area, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="perfil">Perfil</label>
                                    @Html.DropDownListFor(x => usuarioNew.perfil_Usuario.id_Perfil_Usuario,
                                         new SelectList(lstPerfil, "id_Perfil_Usuario", "descripcion_Perfil"),
                                         "-- Please select perfil --", new { @class = "form-control" }
                                     )
                                    @Html.ValidationMessageFor(x => usuarioNew.perfil_Usuario.id_Perfil_Usuario, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        @Html.Label("Vigente")
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.RadioButtonFor(Model => usuarioNew.cod_Estado_Usr, "VIG", new { id = "HabilitadoNewS" })
                                        @Html.ValidationMessageFor(Model => usuarioNew.cod_Estado_Usr, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.Label("Anulado")
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.RadioButtonFor(Model => usuarioNew.cod_Estado_Usr, "ANU", new { id = "HabilitadoNewN" })
                                        @Html.ValidationMessageFor(Model => usuarioNew.cod_Estado_Usr, null, new { @class = "text-danger" })
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Agregar Usuario</button>
                </div>
            </div>
        </div>
    }
</div>


<!-- EDITAR USUARIOS -->
<div class="modal fade" id="editarUsuario" tabindex="-1" role="dialog" style="display: none;"
     aria-hidden="true">
    @using (Html.BeginForm("EditaModifica", "Usuario", null, FormMethod.Post, null))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Modificar Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                @Html.HiddenFor(Model => usuarioEdit.id_Usuario)
                @Html.HiddenFor(Model => usuarioEdit.dv_Usuario)
                <div class="modal-body text-dark">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Nombre</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => usuarioEdit.nombre_Usr, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => usuarioEdit.nombre_Usr, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Apellidos</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => usuarioEdit.ape_Usuario, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => usuarioEdit.ape_Usuario, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">RUT</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => usuarioEdit.usuari_RutCompuesto, new { @class = "form-control", @onkeyup = "formateaRut(this);", @onblur = "return Rut(this);" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Correo</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => usuarioEdit.email_Usr, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => usuarioEdit.email_Usr, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Teléfono</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(Model => usuarioEdit.fono_Usuario, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => usuarioEdit.fono_Usuario, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Area</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(x => usuarioEdit.area_Usuario.id_Area,
                                        new SelectList(lstArea, "id_Area", "dsc_Area"),
                                        "-- Please select area --", new { @class = "form-control" }
                                    )
                                    @Html.ValidationMessageFor(x => usuarioEdit.area_Usuario.id_Area, null, new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Perfil</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(x => usuarioEdit.perfil_Usuario.id_Perfil_Usuario,
                                        new SelectList(lstPerfil, "id_Perfil_Usuario", "descripcion_Perfil"),
                                        "-- Please select perfil --", new { @class = "form-control" }
                                    )
                                    @Html.ValidationMessageFor(x => usuarioEdit.perfil_Usuario.id_Perfil_Usuario, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    @Html.Label("Vigente")
                                </div>
                                <div class="col-sm-8">
                                    @Html.RadioButtonFor(Model => usuarioEdit.cod_Estado_Usr, "VIG", new { id = "HabilitadoEditS" })
                                    @Html.ValidationMessageFor(Model => usuarioEdit.cod_Estado_Usr, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Anulado")
                                </div>
                                <div class="col-sm-8">
                                    @Html.RadioButtonFor(Model => usuarioEdit.cod_Estado_Usr, "ANU", new { id = "HabilitadoEditN" })
                                    @Html.ValidationMessageFor(Model => usuarioEdit.cod_Estado_Usr, null, new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" id="liveToastBtn" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </div>
        </div>
    }
</div>







