﻿@using SDI_Gestion.Models
@model IEnumerable<Object>
@{
    SDI_Gestion.Models.Solicitud solicitud = Model.ToArray()[0] as SDI_Gestion.Models.Solicitud;

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="~/css/select2-bootstrap4.min.css" type="text/css">
<link rel="stylesheet" href="~/css/select2.min.css" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="~/js/select2.min.js"></script>

<script>

    setTimeout(function () {
        $(".content").fadeOut(1500);
    }, 3000);

</script>

@using (Html.BeginForm("Modifica", "Solicitud", null, FormMethod.Post, null))
{
    <input type="hidden" id="comunaCliente" value="" />


    @Html.HiddenFor(Model => solicitud.id_Usuario)
    @Html.HiddenFor(Model => solicitud.id_Solicitud)
    @Html.HiddenFor(Model => solicitud.fch_Estado_Sol)
    @Html.HiddenFor(Model => solicitud.fch_Ingreso)
    @Html.HiddenFor(Model => solicitud.cod_Estado_Sol)

    <div class="row">

        <div class="col-md-4 mt-4 mb-2">
            @if (solicitud.id_Solicitud == 0)
            {
                <h2>Solicitud <span class="text-primary">Número ------</span></h2>
            }
            else
            {
                <h2>Solicitud <span class="text-primary">Número @solicitud.id_Solicitud</span></h2>
            }
        </div>
    </div>

    if (TempData["Mensaje"] != null)
    {
        <div class="row">

            <div class="col-12 mt-3 text-center">
                <div class="content" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Mensaje"].ToString()
                    </div>
                </div>
            </div>

        </div>
    }


    <div class="tab-pane fade show active" id="home" role="tabpanel"
         aria-labelledby="home-tab">
        <hr>
        <div class="card-body px-0">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="mb-0" for="RUT">FECHA REGISTRO</label>
                        <br />
                        <input type="text" id="fechaRegistro" value="AUTOMATICA" class="form-control w-100" readonly />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="mb-0" for="formGroupExampleInput2">
                            Área Origen
                        </label>
                        <br />
                        <input type="text" id="areaOrigen" value="Gerencia de T.I." class="form-control w-100" readonly />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="mb-0"
                               for="formGroupExampleInput2">Usuario Creación</label>
                        <br />
                        <input type="text" id="usuarioRegistro" class="form-control w-100" value="@Session["user_Name"].ToString().Trim() @Session["user_Apellido"].ToString().Trim()" readonly />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="mb-0" for="formGroupExampleInput2">Área Destino</label><br />
                        @Html.DropDownListFor(x => solicitud.id_Area,
                        new SelectList(solicitud.ListasSolicitud.Areas, "id_Area", "dsc_Area"),
                        "Seleccione Area", new { @class = "form-control w-100" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="mb-0" for="formGroupExampleInput2">
                            Tipo de Solicitud
                        </label><br />
                        @Html.DropDownListFor(x => solicitud.id_Tipo_Sol,
                        new SelectList(solicitud.ListasSolicitud.TiposSolicitud, "id_Tipo_Sol", "descripcion"),
                        "Seleccione Tipo de Solicitud", new { @class = "form-control w-100" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="mb-0">Prioridad</label><br />
                        @Html.DropDownListFor(x => solicitud.id_Prioridad,
                        new SelectList(solicitud.ListasSolicitud.Prioridades, "id_Prioridad", "dsc_Prioridad"),
                        "Seleccione Prioridad", new { @class = "form-control w-100" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Asunto de la soclicitud</label>
                        @Html.TextAreaFor(x => solicitud.asunto_Sol, new { @class = "form-control w-100", @rows = "1" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="observaciones">Descripción de la solicitud</label>
                        @Html.TextAreaFor(x => solicitud.detalle_Sol, new { @class = "form-control w-100", @rows = "4" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group row">
                        <label for="Cédula de Identidad"
                               class="col-sm-3 col-form-label">Evidencias para la solicitud</label>
                        <div class="col-sm-9">
                            <section>
                                <input id="files" type="file" multiple>
                                <ul id="preview"></ul>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                </div>
                <div class="col-sm-3">
                    <input type="submit" class="btn btn-primary float-right px-4" value="Modificar Solicitud">
                </div>
            </div>
        </div>
    </div>

}

<script type="text/javascript">

    $(function () {
        $('select').each(function () {
            $(this).select2({
                theme: 'bootstrap4',
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                allowClear: Boolean($(this).data('allow-clear')),
                closeOnSelect: !$(this).attr('multiple'),
            });
        });
    });

    $(document).ready(function () {
        $('#solicitud_id_Area').val('@solicitud.id_Area');
        $('#solicitud_id_Area').change();
        $('#solicitud_id_Prioridad').val('@solicitud.id_Prioridad');
        $('#solicitud_id_Prioridad').change();
        $('#solicitud_id_Tipo_Sol').val('@solicitud.id_Tipo_Sol');
        $('#solicitud_id_Tipo_Sol').change();
    });
</script>


