﻿@using SDI_Gestion.Models
@model IEnumerable<Object>
@{
    SDI_Gestion.Models.Solicitud solicitud = Model.ToArray()[0] as SDI_Gestion.Models.Solicitud;
    SDI_Gestion.Models.Archivo archivo = Model as SDI_Gestion.Models.Archivo;

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="~/css/select2-bootstrap4.min.css" type="text/css">
<link rel="stylesheet" href="~/css/select2.min.css" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="~/js/select2.min.js"></script>

<script>
 $(document).ready(function () {

       
        $("#solicitud_id_Area").change(function () {
            if ($("#solicitud_id_Area").val() != "") {
                $('#solicitud_id_Tipo_Sol').empty();
                $('#solicitud_id_Tipo_Sol').change();
                var listaTiposSolicitud = $('#solicitud_id_Tipo_Sol');
                $.ajax({
                    type: "POST",
                    url: "/Solicitud/BuscarTiposSolicitudArea",
                    data: '{idArea: ' + $("#solicitud_id_Area").val() + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (index, tipoSolicitud) {
                            var option = $('<option></option>');
                            option.attr('value', tipoSolicitud.id_Tipo_Sol);
                            option.text(tipoSolicitud.descripcion);
                            listaTiposSolicitud.append(option);
                        });
                        $('#solicitud_id_Tipo_Sol').change();
                        $('#solicitud_id_Tipo_Sol').val(jQuery('#tipoSolicitud').val());
                        $('#solicitud_id_Tipo_Sol').change();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });   
    });
  </script>

<div class="container-fluid px-0">
    <div class="card shadow">
        <div class="card-body">


            @using (Html.BeginForm("Ingreso", "Solicitud", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" id="tipoSolicitud" value="" />

                @Html.HiddenFor(Model => solicitud.usuario_Solicitud.id_Usuario)

                <div class="row">

                    <div class="col-md-4 mt-4 mb-2">
                        @*@if (@cotizacion.cotiza_Id == 0)
                    {*@
                        <h2>Solicitud <span class="text-primary">Número ------</span></h2>
                        @*}
                    else
                    {
                        <h2>Solicitud <span class="text-primary">Número @cotizacion.cotiza_Id</span></h2>
                    }*@
                    </div>
                    <div class="col-md-6 mt-3 mb-2">
                        <div id="mensajeDivErr" class="content" role="alert" aria-live="assertive" aria-atomic="true" style="display: none;">
                            <div class="col-md-12 alert alert-danger">
                                <button type="button" class="close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <label for="mensajeLabel"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show active" id="home" role="tabpanel"
                     aria-labelledby="home-tab">
                    <hr>
                    <div class="card-body px-0">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="mb-0" for="RUT">FECHA REGISTRO</label>
                                    <br />
                                    <input type="text" id="fechaRegistro" value="AUTOMATICA" class="form-control w-100" readonly />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="mb-0" for="formGroupExampleInput2">
                                        Área Origen
                                    </label>
                                    <br />
                                    <input type="text" id="usuarioRegistro" class="form-control w-100" value="@solicitud.usuario_Solicitud.area_Usuario.dsc_Area" readonly />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="mb-0"
                                           for="formGroupExampleInput2">Usuario Creación</label>
                                    <br />
                                    <input type="text" id="usuarioRegistro" class="form-control w-100" value="@Session["user_Name"].ToString().Trim() @Session["user_Apellido"].ToString().Trim()" readonly />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="mb-0" for="formGroupExampleInput">Área Destino</label><br />
                                    @Html.DropDownListFor(x => solicitud.id_Area,
                                    new SelectList(solicitud.ListasSolicitud.Areas, "id_Area", "dsc_Area"),
                                    "Seleccione Area", new { @class = "form-control w-100" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="mb-0" for="formGroupExampleInput2">
                                        Tipo de Solicitud
                                    </label><br />
                                    @Html.DropDownListFor(x => solicitud.id_Tipo_Sol,
                                    new SelectList(solicitud.ListasSolicitud.TiposSolicitud, "id_Tipo_Solicitud", "descripcion"),
                                    "Seleccione Tipo de Solicitud", new { @class = "form-control w-100" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="mb-0">Prioridad</label><br />
                                    @Html.DropDownListFor(x => solicitud.id_Prioridad,
                                    new SelectList(solicitud.ListasSolicitud.Prioridades, "id_Prioridad", "dsc_Prioridad"),
                                    "Seleccione Prioridad", new { @class = "form-control w-100" })
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Asunto de la soclicitud</label>
                                    @Html.TextAreaFor(x => solicitud.asunto_Sol, new { @class = "form-control w-100", @rows = "1", @maxlength = "100" })
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="observaciones">Descripción de la solicitud</label>
                                    @Html.TextAreaFor(x => solicitud.detalle_Sol, new { @class = "form-control w-100", @rows = "4", @maxlength = "500" })
                                </div>
                            </div>
                            <!--ESTO ES PARA LA SUBIDA DE DOCUMENTO-->
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="Cédula de Identidad"
                                           class="col-sm-3 col-form-label">Adjunte un Documento de Evidencia: </label>
                                    <div class="col-sm-9">
                                        <section>
                                            @Html.TextBoxFor(x => archivo.ImageFile, new { type = "file", accept = ".doc,.docx,.jpg,.png,.xls,.xlsx,.pdf" })
                                            @Html.ValidationMessageFor(x => archivo.ImageFile, "", new { @class = "text-danger" })
                                            <ul id="preview"></ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <!---->
                            <div class="col-sm-9">
                            </div>
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-primary float-right px-4" value="Generar Solicitud">
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>


<script type="text/javascript">

    $(function () {
        $('select').each(function () {
            $(this).select2({
                theme: 'bootstrap4',
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                allowClear: Boolean($(this).data('allow-clear')),
                closeOnSelect: !$(this).attr('multiple'),
            });
        });
    });

</script>


