﻿@using SDI_Gestion.Models
@model IEnumerable<Object>
@{
    List<SDI_Gestion.Models.Solicitud> solicitudes = Model.ToArray()[0] as List<SDI_Gestion.Models.Solicitud>;
    EstadoSolicitudMovimiento estadoSolicitudMovimiento = Model.ToArray()[1] as EstadoSolicitudMovimiento;

    SDI_Gestion.Models.Solicitud solicitud = Model.ToArray()[2] as SDI_Gestion.Models.Solicitud;


    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="~/css/select2-bootstrap4.min.css" type="text/css">
<link rel="stylesheet" href="~/css/select2.min.css" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="~/js/select2.min.js"></script>

<script>

    setTimeout(function () {
        $(".content").fadeOut(1500);
    }, 3000);

    $(document).ready(function () {
        $('#grilla_solicitudes').DataTable(
            {
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Sin información",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin información disponible",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }
            }
        );

        $('#asignacion').on('show.bs.modal', function (e) {
            var id = $(e.relatedTarget).data().id;

            var modal = @Html.Raw(Json.Encode(solicitudes));


            for (var i in modal) {
                if (id == modal[i].id_Solicitud) {
                    document.getElementById('solicitud_id_Solicitud').value = modal[i].id_Solicitud;
                    document.getElementById('solicitudMovimiento').innerHTML = modal[i].id_Solicitud;
                    document.getElementById('solicitudMovimientoAsunto').innerHTML = modal[i].asunto_Sol;
                    document.getElementById('solicitudMovimientoDetalle').innerHTML = modal[i].detalle_Sol;

                    

                }
            };
        });
    });

</script>


<div class="container-fluid px-0">
    <div class="card shadow">
        <div class="card-body">

            <div class="row">

                <div class="col-12 mt-3 text-center">

                    <h3>Listado de solicitudes pendientes de asignacion de su área<span class="text-primary"></span></h3>

                </div>

            </div>

            @if (TempData["Mensaje"] != null)
            {
                <div class="row">

                    <div class="col-12 mt-3 text-center">
                        <div class="content" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Mensaje"].ToString()
                            </div>
                        </div>
                    </div>

                </div>
            }

            <div class="tab-pane fade show active" id="home" role="tabpanel"
                 aria-labelledby="home-tab">
                <hr>
                <div class="card-body px-0">
                    <div class="row">
                        <div class="col-12 mt-3">
                            <table id="grilla_solicitudes" class="table table-bordered text-dark table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width:20px; text-align:center;">N° Solicitud</th>
                                        <th style="width:100px; text-align:center;">Usuario Solicita</th>
                                        <th style="width:50px; text-align:center;">Fecha Ingreso</th>
                                        <th style="width:50px; text-align:center;">Tipo Solicitud</th>
                                        <th style="width:20px; text-align:center;">Prioridad</th>
                                        <th style="width:170px; text-align:center;">Asunto</th>
                                        <th style="width:70px; text-align:center;">Acción</th>
                                    </tr>
                                </thead>
                                <tbody class="table-sm">
                                    @foreach (var sol in solicitudes)
                                    {
                                        <tr>
                                            <td style="width:20px; text-align:right;">@sol.id_Solicitud</td>
                                            <td>@sol.usuario_Solicitud.nombre_Usr</td>
                                            <td style="text-align: center">@sol.fch_Ingreso.ToString("dd-MM-yyyy hh:mm")</td>
                                            <td style="text-align: left">
                                                @sol.tipo_Solicitud.descripcion


                                                @if (sol.id_Prioridad.Equals(1))
                                                {
                                                <td class="bg-danger text-white text-center" style="width: 20px;">@sol.prioridad_Solicitud.dsc_Prioridad</td>
                                            }
                                            else if (sol.id_Prioridad.Equals(2))
                                            {
                                                <td class="bg-warning text-white text-center" style="width: 20px;">@sol.prioridad_Solicitud.dsc_Prioridad</td>
                                            }
                                            else
                                            {
                                                <td class="bg-success text-white text-center" style="width: 20px;">@sol.prioridad_Solicitud.dsc_Prioridad</td>
                                            }
                                                @*<td>@solicitud.asunto_Sol</td>*@
                                                <td>@sol.detalle_Sol</td>
                                                <th style="text-align: center;">
                                                    <a href="#" id="asigna" data-nombre="@sol.usuario_Solicitud.nombre_Usr" data-id="@sol.id_Solicitud" data-toggle="modal" data-target="#asignacion">
                                                        Tomar Solicitud
                                                    </a>
                                                </th>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- ASIGNACION DE SOLICITUD -->
<div class="modal fade" id="asignacion" tabindex="-1" role="dialog" style="display: none;"
     aria-hidden="true">
    @using (Html.BeginForm("Asignacion", "Solicitud", null, FormMethod.Post, null))
    {

        @Html.HiddenFor(Model => solicitud.id_Solicitud)

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Asignacion de Solicitud Número <label id="solicitudMovimiento"></label> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-group">
                                    <b><label for="nombre">Asunto:</label></b>
                                    <label id="solicitudMovimientoAsunto"></label>
                                </div>
                                <div class="form-group">
                                    <b><label for="apellido">Detalle:</label></b>
                                    <label id="solicitudMovimientoDetalle"></label>
                                </div>
                                <div class="form-group">

                                </div>
                                <div class="form-group">
                                    <b><label for="email">Observación Asignación:</label></b>
                                    @Html.TextBoxFor(Model => estadoSolicitudMovimiento.observacion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => estadoSolicitudMovimiento.observacion, null, new { @class = "text-danger" })
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Asignar Solicitud</button>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $('select').each(function () {
            $(this).select2({
                theme: 'bootstrap4',
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                allowClear: Boolean($(this).data('allow-clear')),
                closeOnSelect: !$(this).attr('multiple'),
            });
        });
    });
</script>



