﻿@using SDI_Gestion.Models
@model IEnumerable<Object>
@{
    List<SDI_Gestion.Models.Solicitud> solicitudes = Model.ToArray()[0] as List<SDI_Gestion.Models.Solicitud>;
    EstadoSolicitudMovimiento estadoSolicitudMovimiento = Model.ToArray()[1] as EstadoSolicitudMovimiento;

    SDI_Gestion.Models.Solicitud solicitud = Model.ToArray()[2] as SDI_Gestion.Models.Solicitud;
    SDI_Gestion.Models.Solicitud solicitudRechazo = Model.ToArray()[2] as SDI_Gestion.Models.Solicitud;

    SDI_Gestion.Models.Archivo archivo = Model as SDI_Gestion.Models.Archivo;

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="~/css/select2-bootstrap4.min.css" type="text/css">
<link rel="stylesheet" href="~/css/select2.min.css" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="~/js/select2.min.js"></script>

<script>

    setTimeout(function () {
        $(".content").fadeOut(1500);
    }, 3000);

    $(document).ready(function () {
        $('#grilla_solicitudes').DataTable(
            {
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Sin información",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin información disponible",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }
            }
        );

        $('#historial').on('show.bs.modal', function (e) {
            var id = $(e.relatedTarget).data().id;
            var modal = @Html.Raw(Json.Encode(solicitudes));
            eliminar();
            for (var i in modal) {
                if (id == modal[i].id_Solicitud) {
                    for (var x in modal[i].movimientos_Solicitud) {
                        var idMov = modal[i].movimientos_Solicitud[x].id_Movimiento;
                        var fecha = formatofecha(modal[i].movimientos_Solicitud[x].fch_Movimiento);
                        var usuario = modal[i].movimientos_Solicitud[x].usuario_Movimiento.nombre_Usr;
                        var estado = modal[i].movimientos_Solicitud[x].estado_Movimiento.dsc_Estado_Sol;
                        var observacion = modal[i].movimientos_Solicitud[x].observacion;
                        if (modal[i].movimientos_Solicitud[x].documento_Movimiento != null)
                            var idDoc = modal[i].movimientos_Solicitud[x].documento_Movimiento.idDocumento;
                        else
                            var idDoc = null;
                        agregar(idMov, fecha, usuario, estado, observacion, idDoc);
                    }
                }
            };
        });

        $('#conformidad').on('show.bs.modal', function (e) {
            var id1 = $(e.relatedTarget).data().id;
            var modal = @Html.Raw(Json.Encode(solicitudes));
            for (var i in modal) {
                if (id1 == modal[i].id_Solicitud) {
                    document.getElementById('solicitud_id_Solicitud').value = modal[i].id_Solicitud;
                    document.getElementById('solicitudMovimientoCierre').innerHTML = modal[i].id_Solicitud;
                    document.getElementById('solicitudMovimientoAsunto').innerHTML = modal[i].asunto_Sol;
                    document.getElementById('solicitudMovimientoDetalle').innerHTML = modal[i].detalle_Sol;
                    for (var z in modal[i].movimientos_Solicitud) {
                        var ultimaObservacion = modal[i].movimientos_Solicitud[z].observacion;
                    }
                    document.getElementById('observacionResolucion').innerHTML = ultimaObservacion;
                }
            };
        });

        $('#observada').on('show.bs.modal', function (e) {
            var id1 = $(e.relatedTarget).data().id;
            var modal = @Html.Raw(Json.Encode(solicitudes));
            for (var i in modal) {
                if (id1 == modal[i].id_Solicitud) {
                    document.getElementById('solicitudRechazo_id_Solicitud').value = modal[i].id_Solicitud;
                    document.getElementById('solicitudMovimientoIterada').innerHTML = modal[i].id_Solicitud;
                    document.getElementById('solicitudMovimientoAsuntoIterada').innerHTML = modal[i].asunto_Sol;
                    document.getElementById('solicitudMovimientoDetalleIterada').innerHTML = modal[i].detalle_Sol;
                    for (var z in modal[i].movimientos_Solicitud) {
                        var ultimaObservacion = modal[i].movimientos_Solicitud[z].observacion;
                        var usuarioResolucion = modal[i].movimientos_Solicitud[z].id_Usuario;
                    }
                    document.getElementById('observacionResolucionIterada').innerHTML = ultimaObservacion;
                    document.getElementById('solicitudRechazo_id_Usuario').value = usuarioResolucion;
                }
            };
        });

    });

    function formatofecha(fecha) {
        var dateString = fecha.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var hour = currentTime.getHours();
        var min = currentTime.getMinutes();
        var date = day + "/" + month + "/" + year + " " + hour + ":" + min ;
        return date;
    }

    function eliminar() {
        var tableHeaderRowCount = 1;
        var table = document.getElementById('grilla_movimientos');
        var rowCount = table.rows.length;
        for (var i = tableHeaderRowCount; i < rowCount; i++) {
            table.deleteRow(tableHeaderRowCount);
        }
    }

    function agregar(idMov, fecha, usuario, estado, observacion, idDoc) {
        var table = document.getElementById("grilla_movimientos");
        var row = table.insertRow(1);

        //this adds row in 0 index i.e. first place
        $("#grilla_movimientos_of_items tr").remove();
        if (idDoc == null) {
            row.innerHTML = "<td>" + idMov + "</td>" +
                "<td>" + fecha + "</td>" +
                "<td>" + usuario + "</td>" +
                "<td>" + estado + "</td>" +
                "<td>  &nbsp; </td>" +
                "<td>" + observacion + "</td>";
        }
        else
        {
            row.innerHTML = "<td>" + idMov + "</td>" +
                "<td>" + fecha + "</td>" +
                "<td>" + usuario + "</td>" +
                "<td>" + estado + "</td>" +
                "<td> <a class='mr-2' onclick='return descargar(" + idDoc +")' target='_blank' > <i class='bi bi-file-earmark-text-fill'></i> </a> </td>" +
                "<td>" + observacion + "</td>";
        }
    }

    function descargar(idDoc) {
        $.ajax({
            type: "GET",
            url: `/Seguimiento/Download?idDocumento=` + idDoc,
            dataType: "json",
            contentType: "text/html",
            //contentType: "application/json; charset=utf-8",

            success: function (response) {

                const blob = base64Toblob(response.evidencia, response.formato);
                guardarArchivo(blob, response.nombreDocumento);
                
            },

            failure: function (response) {
                alert(response.error);
            },
            error: function (response) {
                alert(response.error);
            }
        });
    }
    function base64Toblob(base64, type = "application/octet-stream") {
        const binStr = window.atob(base64);
        const len = binStr.length;
        const arr = new Uint8Array(len);
        for (let i = 0; i < len; i++) {
            arr[i] = binStr.charCodeAt(i);
        }

        return new Blob([arr], { type: type });

    }

    function guardarArchivo(blob, filename) {
        if (window.navigator.msSaveOrOpenBlob) {
            window.navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            const a = document.createElement('a');
            document.body.appendChild(a);

            const url = window.URL.createObjectURL(blob);
            a.href = url;
            a.download = filename;
            a.click();
            setTimeout(() => {
                window.URL.revokeObjectURL(url);
                document.body.removeChild(a);
            }, 0)
        }
    }

</script>


<div class="container-fluid px-0">
    <div class="card shadow">
        <div class="card-body">

            <div class="row">

                <div class="col-12 mt-3 text-center">

                    <h3>Bandeja de Seguimiento de Solicitudes Generadas<span class="text-primary"></span></h3>

                </div>

            </div>

            @if (TempData["Mensaje"] != null)
            {
                <div class="row">
                    <div class="col-12 mt-3 text-center">
                        <div class="content" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Mensaje"].ToString()
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="tab-pane fade show active" id="home" role="tabpanel"
                 aria-labelledby="home-tab">
                <hr>
                <div class="card-body px-0">
                    <div class="row">
                        <div class="col-12 mt-3">
                            <table id="grilla_solicitudes" class="table table-bordered text-dark table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width:20px; text-align:center;">N° Solicitud</th>
                                        <th style="width:50px; text-align:center;">Fecha Ingreso</th>
                                        <th style="width:50px; text-align:center;">Tipo Solicitud</th>
                                        <th style="width:20px; text-align:center;">Prioridad</th>
                                        <th style="width:20px; text-align:center;">Estado</th>
                                        <th style="width:170px; text-align:center;">Asunto</th>
                                        <th style="width:70px; text-align:center;">Historia</th>
                                        <th style="width:70px; text-align:center;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="table-sm">
                                    @foreach (var sol in solicitudes)
                                    {
                                        <tr>
                                            <td style="width:20px; text-align:right;">@sol.id_Solicitud</td>
                                            <td style="text-align: center">@sol.fch_Ingreso.ToString("dd-MM-yyyy hh:mm")</td>
                                            <td style="text-align: left">
                                                @sol.tipo_Solicitud.descripcion


                                                @if (sol.id_Prioridad.Equals(1))
                                                {
                                                <td class="bg-danger text-white text-center" style="width: 20px;">@sol.prioridad_Solicitud.dsc_Prioridad</td>
                                            }
                                            else if (sol.id_Prioridad.Equals(2))
                                            {
                                                <td class="bg-warning text-white text-center" style="width: 20px;">@sol.prioridad_Solicitud.dsc_Prioridad</td>
                                            }
                                            else
                                            {
                                                <td class="bg-success text-white text-center" style="width: 20px;">@sol.prioridad_Solicitud.dsc_Prioridad</td>
                                            }
                                                @*<td>@solicitud.asunto_Sol</td>*@
                                                <td>@sol.estado_Solicitud.dsc_Estado_Sol</td>
                                                <td>@sol.detalle_Sol</td>
                                                <th style="text-align: center;">
                                                    <a href="#" id="asigna" data-nombre="@sol.usuario_Solicitud.nombre_Usr" data-id="@sol.id_Solicitud" data-toggle="modal" data-target="#historial">
                                                        Ver Movimientos
                                                    </a>
                                                </th>

                                                <td>
                                                    @if (sol.cod_Estado_Sol.Equals("RES"))

                                                    {
                                                        <a class="mr-2" href="#" data-placement="top" title="Recepción Conforme" id="asigna" data-nombre="" data-id="@sol.id_Solicitud" data-toggle="modal" data-target="#conformidad">
                                                            <i class="bi bi-check-square-fill"></i>
                                                        </a>
                                                        <a class="mr-2" href="#" data-placement="top" title="Sin Recepción / Observada" id="masantecedentes" data-nombre="" data-id="@sol.id_Solicitud" data-toggle="modal" data-target="#observada">
                                                            <i class="bi bi-exclamation-square-fill"></i>
                                                        </a>
                                                    }

                                                    @if (sol.cod_Estado_Sol.Equals("ING"))
                                                    {
                                                        <a title="Modificar Solicitud" href="@Url.Action("CargarSolicitud", "Solicitud", routeValues: new { id_Solicitud = sol.id_Solicitud })">
                                                            <i class="bi bi-pencil-square"></i>
                                                        </a>
                                                    }
                                         </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- HISTORIAL DE MOVIMIENTOS DE LA SOLICITUD -->
<div class="modal fade" id="historial" tabindex="-1" role="dialog" style="display: none;"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label">Historial de Movimientos de la Solicitud Número <label id="solicitudMovimiento"></label> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table id="grilla_movimientos" class="table table-bordered text-dark table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th class="w-auto">N°</th>
                                    <th class="w-auto">Fecha</th>
                                    <th class="w-auto">Usuario</th>
                                    <th class="w-auto">Estado</th>
                                    <th class="w-auto">Evidencia</th>
                                    <th class="w-25">Observación</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- CONFORMIDAD DE TAREA (CERRAR SOLICITUD) -->
<div class="modal fade" id="conformidad" tabindex="-1" role="dialog" style="display: none;"
     aria-hidden="true">
    @using (Html.BeginForm("Cierre", "Seguimiento", null, FormMethod.Post, null))
    {

        @Html.HiddenFor(Model => solicitud.id_Solicitud)

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Recepción conforme. Número de Solicitud: <label id="solicitudMovimientoCierre"></label> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-group">
                                    <b><label for="nombre">Asunto:</label></b>
                                    <label id="solicitudMovimientoAsunto"></label>
                                </div>
                                <div class="form-group">
                                    <b><label for="apellido">Detalle:</label></b>
                                    <label id="solicitudMovimientoDetalle"></label>
                                </div>

                                <div class="form-group">
                                    <b><label for="apellido">Observación Resolución:</label></b>
                                    <label id="observacionResolucion"></label>
                                </div>

                                <div class="form-group">

                                </div>
                                <div class="form-group">
                                    <b><label for="email">Comentario para el cierre de la solicitud:</label></b>
                                    @Html.TextAreaFor(Model => estadoSolicitudMovimiento.observacion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => estadoSolicitudMovimiento.observacion, null, new { @class = "text-danger" })
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Cerrar Actividad</button>
                </div>
            </div>
        </div>
    }
</div>

<!-- DEVOLUSION DE TAREA TAREA (SOLICITUD CON OBSERVACION) -->
<div class="modal fade" id="observada" tabindex="-1" role="dialog";"aria-hidden="true">

    @using (Html.BeginForm("Rechazo", "Seguimiento", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(Model => solicitudRechazo.id_Usuario)
       
        @Html.HiddenFor(Model => solicitudRechazo.id_Solicitud)

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Rechazo por disconformidad. Número de solicitud: <label id="solicitudMovimientoIterada"></label> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-group">
                                    <b><label for="nombre">Asunto:</label></b>
                                    <label id="solicitudMovimientoAsuntoIterada"></label>
                                </div>
                                <div class="form-group">
                                    <b><label for="apellido">Detalle:</label></b>
                                    <label id="solicitudMovimientoDetalleIterada"></label>
                                </div>
                                <div class="form-group">
                                    <b><label for="apellido">Observación Resolución:</label></b>
                                    <label id="observacionResolucionIterada"></label>
                                </div>
                                <div class="form-group">
                                    <b><label for="email">Observación de rechazo de la solicitud:</label></b>
                                    @Html.TextAreaFor(x => estadoSolicitudMovimiento.observacion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => estadoSolicitudMovimiento.observacion, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <b><label for="email">Documento Adjunto:</label></b>
                                    <section>
                                        @Html.TextBoxFor(x => archivo.ImageFile, new { type = "file", accept = ".doc,.docx,.jpg,.png,.xls,.xlsx,.pdf" })
                                        @Html.ValidationMessageFor(x => archivo.ImageFile, "", new { @class = "text-danger" })
                                        <ul id="preview"></ul>
                                    </section>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Rechazar Actividad</button>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $('select').each(function () {
            $(this).select2({
                theme: 'bootstrap4',
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                allowClear: Boolean($(this).data('allow-clear')),
                closeOnSelect: !$(this).attr('multiple'),
            });
        });
    });
</script>



