﻿
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Modifica", "CambioClave", null, FormMethod.Post, null))
{
    <div class="container-fluid px-0">
        <div class="card shadow">
            <div class="card-body">
                <div class="jumbotron bg-white shadow col-md-4 offset-md-4 mt-3 py-4">
                    <div class="row">
                        @if (!(TempData["Cod"] == null) && TempData["Cod"].ToString() == "OK")
                        {
                            <div class="col-12 text-center">
                                CAMBIO DE CLAVE
                            </div>
                        }
                        else
                        {
                            <div class="col-12 text-center">
                                FAVOR INGRESA TU NUEVA CLAVE
                            </div>
                            <div class="col-5 text-right mt-4">
                                Nueva Clave:
                            </div>
                            <div class="col-7 text-left mt-4">
                                <input type="password" id="password_nueva" name="password_nueva" value="" maxlength="8" autocomplete="off" required />
                            </div>
                            <div class="col-5 text-right mt-2">
                                Repita Nueva Clave:
                            </div>
                            <div class="col-7 text-left mt-2">
                                <input type="password" id="password_nueva_repite" name="password_nueva_repite" value="" maxlength="8" autocomplete="off" required />
                            </div>
                        }
                        @if (!(TempData["Cod"] == null) && TempData["Cod"].ToString() == "OK")
                        {
                            <div class="col-12 text-center">
                                <a href="@Url.Action("Index", "Home")"><i class="bi bi-house-door-fill mr-3"></i> Ir al Home</a>
                            </div>
                        }
                        else
                        {
                            <div class="col-12 text-center mt-4">
                                <button type="submit" class="btn btn-primary btn-large shadow">Cambiar Clave</button>
                            </div>
                        }
                        @if (TempData["Mensaje"] != null)
                        {
                            if (!(TempData["Cod"] == null) && TempData["Cod"].ToString() == "OK")
                            {
                                <div class="content col-12 alert alert-info mt-4">
                                    <button type="button" class="close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    @TempData["Mensaje"].ToString()
                                </div>
                            }
                            else
                            {
                                <div class="content col-12 alert alert-danger mt-4">
                                    <button type="button" class="close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    @TempData["Mensaje"].ToString()
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}