﻿
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("OlvidoSetea", "CambioClave", null, FormMethod.Post, null))
{
    <div class="container-fluid px-0">
        <div class="card shadow">
            <div class="card-body">
                <div class="jumbotron bg-white shadow col-md-4 offset-md-4 mt-3 py-4">
                    <div class="row">

                        <div class="col-12 text-center">
                            FAVOR INGRESA TU USUARIO
                        </div>
                        <div class="col-5 text-right mt-4">
                            Email Usuario:
                        </div>
                        <div class="col-7 text-left mt-4">
                            <input type="text" id="email_usuario" name="email_usuario" value="" maxlength="40" autocomplete="off" required />
                        </div>

                        <div class="col-12 text-center mt-4">
                            <button type="submit" class="btn btn-primary btn-large shadow">Enviar Clave Temporal</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}