﻿@model IEnumerable<Object>
@{
    SDI_Gestion.Models.Perfil datosSeleccion = Model.ToList()[0] as SDI_Gestion.Models.Perfil;
    List<SDI_Gestion.Models.Usuario> lstUsuario = Model.ToList()[1] as List<SDI_Gestion.Models.Usuario>;
    List<SDI_Gestion.Models.MenuOpcion> lstMenusPrincipales = Model.ToList()[2] as List<SDI_Gestion.Models.MenuOpcion>;
    List<SDI_Gestion.Models.MenuOpcion> lstMenusConAcceso = Model.ToList()[3] as List<SDI_Gestion.Models.MenuOpcion>;
    List<SDI_Gestion.Models.MenuOpcion> lstMenusSinAcceso = Model.ToList()[4] as List<SDI_Gestion.Models.MenuOpcion>;

    SDI_Gestion.Models.MenuOpcion opcionAgrega = new SDI_Gestion.Models.MenuOpcion();
    SDI_Gestion.Models.MenuOpcion opcionElimina = new SDI_Gestion.Models.MenuOpcion();

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    function Agregar(menuOpcion, idUsuario, idMenuSeleccion) {
        document.getElementById("opcionAgrega_id_Menu_Opcion").value = menuOpcion;
        document.getElementById("opcionAgrega_id_Menu_Padre").value = idMenuSeleccion;
        document.getElementById("opcionAgrega_id_Usuario").value = idUsuario;
    }

    function Eliminar(menuOpcion, idUsuario, idMenuSeleccion) {
        document.getElementById("opcionElimina_id_Menu_Opcion").value = menuOpcion;
        document.getElementById("opcionElimina_id_Menu_Padre").value = idMenuSeleccion;
        document.getElementById("opcionElimina_id_Usuario").value = idUsuario;
    }

   $(document).ready(function () {
        $('#datosSeleccion_id_Usuario').val('@datosSeleccion.id_Usuario');
        $('#datosSeleccion_id_Usuario').change();
        $('#datosSeleccion_id_Menu').val('@datosSeleccion.id_Menu');
        $('#datosSeleccion_id_Menu').change();
    });
</script>


<div class="card shadow">
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                <h2>Accesos y Permisos</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                @using (Html.BeginForm("Cargar", "Perfiles", null, FormMethod.Post, null))
                {

                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" for="txtRut">
                                Usuario
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="txtRut">
                                Opcion de Menú
                            </label>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DropDownListFor(x => datosSeleccion.id_Usuario,
                         new SelectList(lstUsuario, "id_Usuario", "nombre_Usr"),
                         "Seleccione usuario", new { @class = "form-control w-100" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownListFor(x => datosSeleccion.id_Menu,
                         new SelectList(lstMenusPrincipales, "id_Menu_Opcion", "descripcion"),
                         "Seleccione Menú", new { @class = "form-control w-100" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-primary float-right px-4" value="Buscar">
                        </div>

                    </div>
                }

                <div class="row">
                    <div class="col-6 mt-3">
                        <h5>Páginas sin Acceso</h5>
                    </div>
                    <div class="col-6 mt-3">
                        <h5>Páginas con Acceso</h5>
                    </div>
                </div>


                <div class="row">
                    <div class="col-6 mt-3">
                        <table id="tablaSinAcceso" class="table table-bordered text-dark table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Código</th>
                                    <th>Recurso</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @using (Html.BeginForm("Agregar", "Perfiles", null, FormMethod.Post, null))
                                {
                                    @Html.HiddenFor(Model => opcionAgrega.id_Menu_Opcion)
                                    @Html.HiddenFor(Model => opcionAgrega.id_Menu_Padre)
                                    @Html.HiddenFor(Model => opcionAgrega.id_Usuario)

                                    foreach (var menuSinAcceso in lstMenusSinAcceso)
                                    {
                                        <tr>
                                            <td>@menuSinAcceso.id_Menu_Opcion</td>
                                            <td>@menuSinAcceso.descripcion</td>
                                            <th style="text-align: center;">
                                                <input type="submit" onclick="Agregar(@menuSinAcceso.id_Menu_Opcion,@datosSeleccion.id_Usuario,@datosSeleccion.id_Menu )" class="btn btn-primary float-right px-4" value="Agregar">
                                            </th>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="col-6 mt-3">
                        <table id="tablaConAcceso" class="table table-bordered text-dark table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Código</th>
                                    <th>Recurso</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @using (Html.BeginForm("Eliminar", "Perfiles", null, FormMethod.Post, null))
                                {
                                    @Html.HiddenFor(Model => opcionElimina.id_Menu_Opcion)
                                    @Html.HiddenFor(Model => opcionElimina.id_Menu_Padre)
                                    @Html.HiddenFor(Model => opcionElimina.id_Usuario)

                                    foreach (var menuConAcceso in lstMenusConAcceso)
                                    {
                                        <tr>
                                            <td>@menuConAcceso.id_Menu_Opcion</td>
                                            <td>@menuConAcceso.descripcion</td>
                                            <th style="text-align: center;">
                                                <input type="submit" onclick="Eliminar(@menuConAcceso.id_Menu_Opcion,@datosSeleccion.id_Usuario,@datosSeleccion.id_Menu )" class="btn btn-primary float-right px-4" value="Eliminar">
                                            </th>
                                        </tr>
                                    }
                                }
                                </tbody>

                            </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

