﻿@model IEnumerable<Object>
@{
    List<SDI_Gestion.Models.Usuario> lstUsuario = Model.ToList()[0] as List<SDI_Gestion.Models.Usuario>;
    List<SDI_Gestion.Models.MenuOpcion> lstMenusPrincipales = Model.ToList()[1] as List<SDI_Gestion.Models.MenuOpcion>;

    SDI_Gestion.Models.Perfil datosSeleccion = new SDI_Gestion.Models.Perfil();


    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow">
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                <h2>Accesos y Permisos</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                @using (Html.BeginForm("Cargar", "Perfiles", null, FormMethod.Post, null))
                {

                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" for="txtRut">
                                Usuario
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="txtRut">
                                Opcion de Menú
                            </label>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DropDownListFor(x => datosSeleccion.id_Usuario,
                         new SelectList(lstUsuario, "id_Usuario", "nombre_Usr"),
                         "Seleccione usuario", new { @class = "form-control w-100" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownListFor(x => datosSeleccion.id_Menu,
                         new SelectList(lstMenusPrincipales, "id_Menu_Opcion", "descripcion"),
                         "Seleccione Menú", new { @class = "form-control w-100" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-primary float-right px-4" value="Buscar">
                        </div>

                    </div>
                }

                <div class="row">
                    <div class="col-6 mt-3">
                        <h5>Páginas con Acceso</h5>
                    </div>
                    <div class="col-6 mt-3">
                        <h5>Páginas sin Acceso</h5>
                    </div>
                </div>


     
            </div>

        </div>

    </div>
</div>










