﻿@using SDI_Gestion.Models
@model IEnumerable<Object>
@{
    InformeFiltro informeFiltro = Model.ToArray()[0] as InformeFiltro;
    List<SDI_Gestion.Models.Mes> meses = Model.ToArray()[1] as List<SDI_Gestion.Models.Mes>;
    List<SDI_Gestion.Models.Ano> anos = Model.ToArray()[2] as List<SDI_Gestion.Models.Ano>;

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">

<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">

    window.onload = function () {
      var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
          theme: "light2", // "light1", "light2", "dark1", "dark2"
	title: {
		text: "Horas empleadas en el mes"
	},
	axisY: {
		title: "Número de horas invertidas"
	},
	data: [{
		type: "column",
		dataPoints: @Html.Raw(ViewBag.DataPoints),
	}]
});
chart.render();
    }

    $(document).ready(function (e) {

        $('#tablaUsuarios').DataTable(
            {
                "language": {
                    "lengthMenu": "Motrar _MENU_ registros por página",
                    "zeroRecords": "Sin información",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin información disponible",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }
            }
        );

        setTimeout(function () {
            $(".content").fadeOut(1500);
        }, 3000);

    });
</script>

<div class="row">

    @if (TempData["Mensaje"] != null)
    {

        <div class="col-6 mb-3" style="margin-top:0%;">

            <div class="content" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="col-md-12 alert alert-success">
                    <button type="button" class="close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["Mensaje"].ToString()
                </div>
            </div>
        </div>
    }
</div>


<div class="card shadow">
    <div class="tab-pane fade show active" id="home" role="tabpanel"
         aria-labelledby="home-tab">

        @using (Html.BeginForm("Cargar", "Informe", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Informe de H.H.</h2>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="mb-0" for="RUT">Mes</label>
                            <br />
                            @Html.DropDownListFor(x => informeFiltro.mes,
                            new SelectList(meses, "Id", "Descripcion"),
                            "Seleccione Mes", new { @class = "form-control w-100" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="mb-0" for="formGroupExampleInput2">
                                Año
                            </label>
                            <br />
                            @Html.DropDownListFor(x => informeFiltro.ano,
                            new SelectList(anos, "Id", "Descripcion"),
                            "Seleccione Año", new { @class = "form-control w-100" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <br />
                            <input type="submit" class="btn btn-primary float-right px-4" value="Consultar Información">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-6 mt-3">
                        <table id="tablaUsuarios" class="table table-bordered text-dark table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Centro de Costo</th>
                                    <th>Cantidad Horas</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="col-6 mt-3">
                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>

                    </div>


                </div>
            </div>
        }
    </div>
</div>


