﻿@using SDI_Gestion.Models
@model IEnumerable<Object>
@{
    List<SDI_Gestion.Models.Movimiento> movimientos = Model.ToArray()[0] as List<SDI_Gestion.Models.Movimiento>;
    EstadoSolicitudMovimiento estadoSolicitudMovimiento = Model.ToArray()[1] as EstadoSolicitudMovimiento;
    EstadoSolicitudMovimiento estadoSolicitudMovimientoResolucion = Model.ToArray()[1] as EstadoSolicitudMovimiento;
    EstadoSolicitudMovimiento estadoSolicitudMovimientoEspera = Model.ToArray()[1] as EstadoSolicitudMovimiento;
    EstadoSolicitudMovimiento estadoSolicitudMovimientoAntecedentes = Model.ToArray()[1] as EstadoSolicitudMovimiento;

    SDI_Gestion.Models.Solicitud solicitud = Model.ToArray()[2] as SDI_Gestion.Models.Solicitud;
    SDI_Gestion.Models.Solicitud solicitudResolucion = Model.ToArray()[2] as SDI_Gestion.Models.Solicitud;
    SDI_Gestion.Models.Solicitud solicitudEspera = Model.ToArray()[2] as SDI_Gestion.Models.Solicitud;
    SDI_Gestion.Models.Solicitud solicitudAntecedentes = Model.ToArray()[2] as SDI_Gestion.Models.Solicitud;

    SDI_Gestion.Models.Archivo archivo = Model as SDI_Gestion.Models.Archivo;

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">

<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<script>

    $(document).ready(function () {

        $('#grilla_solicitudes_usuario').DataTable(
            {
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Sin información",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin información disponible",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }
            }
        );

        $('#historial').on('show.bs.modal', function (e) {
            var id = $(e.relatedTarget).data().id;
            var modal = @Html.Raw(Json.Encode(movimientos));
            eliminar();
            for (var i in modal) {
                if (id == modal[i].id_Solicitud) {
                    for (var x in modal[i].solicitud_Movimiento.movimientos_Solicitud) {
                        var idMov = modal[i].solicitud_Movimiento.movimientos_Solicitud[x].id_Movimiento;
                        var fecha = formatofecha(modal[i].solicitud_Movimiento.movimientos_Solicitud[x].fch_Movimiento);
                        var usuario = modal[i].solicitud_Movimiento.movimientos_Solicitud[x].usuario_Movimiento.nombre_Usr;
                        var estado = modal[i].solicitud_Movimiento.movimientos_Solicitud[x].estado_Movimiento.dsc_Estado_Sol;
                        var observacion = modal[i].solicitud_Movimiento.movimientos_Solicitud[x].observacion;
                        if (modal[i].solicitud_Movimiento.movimientos_Solicitud[x].documento_Movimiento != null)
                            var idDoc = modal[i].solicitud_Movimiento.movimientos_Solicitud[x].documento_Movimiento.idDocumento;
                        else
                            var idDoc = null;
                        agregar(idMov, fecha, usuario, estado, observacion, idDoc);
                    }
                }
            };
        });

        $('#iniciacion').on('show.bs.modal', function (e) {
            var id1 = $(e.relatedTarget).data().id;
            var modal = @Html.Raw(Json.Encode(movimientos));
            for (var i in modal) {
                if (id1 == modal[i].solicitud_Movimiento.id_Solicitud) {
                    document.getElementById('solicitud_id_Solicitud').value = modal[i].solicitud_Movimiento.id_Solicitud;
                    document.getElementById('solicitudMovimiento').innerHTML = modal[i].solicitud_Movimiento.id_Solicitud;
                    document.getElementById('solicitudMovimientoAsunto').innerHTML = modal[i].solicitud_Movimiento.asunto_Sol;
                    document.getElementById('solicitudMovimientoDetalle').innerHTML = modal[i].solicitud_Movimiento.detalle_Sol;
                }
            };
        });

        $('#resolucion').on('show.bs.modal', function (e) {
            var id2 = $(e.relatedTarget).data().id;
            var modal = @Html.Raw(Json.Encode(movimientos));
            for (var i in modal) {
                if (id2 == modal[i].solicitud_Movimiento.id_Solicitud) {
                    document.getElementById('solicitudResolucion_id_Solicitud').value = modal[i].solicitud_Movimiento.id_Solicitud;
                    document.getElementById('solicitudMovimientoResolucion').innerHTML = modal[i].solicitud_Movimiento.id_Solicitud;
                    document.getElementById('solicitudMovimientoAsuntoResolucion').innerHTML = modal[i].solicitud_Movimiento.asunto_Sol;
                    document.getElementById('solicitudMovimientoDetalleResolucion').innerHTML = modal[i].solicitud_Movimiento.detalle_Sol;
                }
            };
        });

        $('#espera').on('show.bs.modal', function (e) {
            var id2 = $(e.relatedTarget).data().id;
            var modal = @Html.Raw(Json.Encode(movimientos));
            for (var i in modal) {
                if (id2 == modal[i].solicitud_Movimiento.id_Solicitud) {
                    document.getElementById('solicitudEspera_id_Solicitud').value = modal[i].solicitud_Movimiento.id_Solicitud;
                    document.getElementById('solicitudMovimientoEspera').innerHTML = modal[i].solicitud_Movimiento.id_Solicitud;
                    document.getElementById('solicitudMovimientoAsuntoEspera').innerHTML = modal[i].solicitud_Movimiento.asunto_Sol;
                    document.getElementById('solicitudMovimientoDetalleEspera').innerHTML = modal[i].solicitud_Movimiento.detalle_Sol;
                }
            };
        });

        $('#antecedentes').on('show.bs.modal', function (e) {
            var id2 = $(e.relatedTarget).data().id;
            var modal = @Html.Raw(Json.Encode(movimientos));
            for (var i in modal) {
                if (id2 == modal[i].solicitud_Movimiento.id_Solicitud) {
                    document.getElementById('solicitudAntecedentes_id_Solicitud').value = modal[i].solicitud_Movimiento.id_Solicitud;
                    document.getElementById('solicitudMovimientoAntecedentes').innerHTML = modal[i].solicitud_Movimiento.id_Solicitud;
                    document.getElementById('solicitudMovimientoAsuntoAntecedentes').innerHTML = modal[i].solicitud_Movimiento.asunto_Sol;
                    document.getElementById('solicitudMovimientoDetalleAntecedentes').innerHTML = modal[i].solicitud_Movimiento.detalle_Sol;
                }
            };
        });

        setTimeout(function () {
            $(".content").fadeOut(1500);
        }, 3000);

    });

    function formatofecha(fecha) {
        var dateString = fecha.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var hour = currentTime.getHours();
        var min = currentTime.getMinutes();
        var date = day + "/" + month + "/" + year + " " + hour + ":" + min;
        return date;
    }

    function eliminar() {
        var tableHeaderRowCount = 1;
        var table = document.getElementById('grilla_movimientos');
        var rowCount = table.rows.length;
        for (var i = tableHeaderRowCount; i < rowCount; i++) {
            table.deleteRow(tableHeaderRowCount);
        }
    }

    function agregar(idMov, fecha, usuario, estado, observacion, idDoc) {
        var table = document.getElementById("grilla_movimientos");
        var row = table.insertRow(1);

        //this adds row in 0 index i.e. first place
        $("#grilla_movimientos_of_items tr").remove();
        if (idDoc == null) {
            row.innerHTML = "<td>" + idMov + "</td>" +
                "<td>" + fecha + "</td>" +
                "<td>" + usuario + "</td>" +
                "<td>" + estado + "</td>" +
                "<td>  &nbsp; </td>" +
                "<td>" + observacion + "</td>";
        }
        else {
            row.innerHTML = "<td>" + idMov + "</td>" +
                "<td>" + fecha + "</td>" +
                "<td>" + usuario + "</td>" +
                "<td>" + estado + "</td>" +
                "<td> <a class='mr-2' onclick='return descargar(" + idDoc + ")' target='_blank' > <i class='bi bi-file-earmark-text-fill'></i> </a> </td>" +
                "<td>" + observacion + "</td>";
        }
    }

    function descargar(idDoc) {
        $.ajax({
            type: "GET",
            url: `/Seguimiento/Download?idDocumento=` + idDoc,
            dataType: "json",
            contentType: "application/json; charset=utf-8",

            success: function (response) {

                const blob = base64Toblob(response.evidencia, response.formato);
                guardarArchivo(blob, response.nombreDocumento);

            },

            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function base64Toblob(base64, type = "application/octet-stream") {
        const binStr = window.atob(base64);
        const len = binStr.length;
        const arr = new Uint8Array(len);
        for (let i = 0; i < len; i++) {
            arr[i] = binStr.charCodeAt(i);
        }

        return new Blob([arr], { type: type });

    }

    function guardarArchivo(blob, filename) {
        if (window.navigator.msSaveOrOpenBlob) {
            window.navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            const a = document.createElement('a');
            document.body.appendChild(a);

            const url = window.URL.createObjectURL(blob);
            a.href = url;
            a.download = filename;
            a.click();
            setTimeout(() => {
                window.URL.revokeObjectURL(url);
                document.body.removeChild(a);
            }, 0)
        }
    }

</script>

<div class="container-fluid px-0">
    <div class="card shadow">
        <div class="card-body">


            @if (!(Session["user_Name"] == null))
            {
                <h4>Bienvenido <strong>@Session["user_Name"] @Session["user_Apellido"] !</strong></h4>
                <p>Use el menú de navegación para mas opciones.</p>
                <!--AQUI MOSTRAMOS LA GRILLA DE SOLICITUDES PENDIENTES DEL USUARIO-->

                <div class="tab-pane fade show active" id="home" role="tabpanel"
                     aria-labelledby="home-tab">
                    <hr>
                    <div class="row">
                        <div class="col-12 mt-3 text-center">
                            <h3><span>Bandeja de solicitudes que estan a tu cargo</span></h3>
                        </div>
                    </div>
                    <div class="card-body px-0">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <table id="grilla_solicitudes_usuario" class="table table-bordered text-dark table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th style="width:10px; text-align:center;">N° Solicitud</th>
                                            <th style="width:80px; text-align:center;">Usuario Solicita</th>
                                            <th style="width:40px; text-align:center;">Fecha Ingreso</th>
                                            <th style="width:20px; text-align:center;">Prioridad</th>
                                            <th style="width:20px; text-align:center;">Estado</th>
                                            <th style="width:200px; text-align:center;">Asunto</th>
                                            <th style="width:70px; text-align:center;">Historia</th>
                                            <th style="width:70px; text-align:center;">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var movimiento in movimientos)
                                        {
                                            <tr>
                                                <td class="text-right" style="width:20px;">@movimiento.solicitud_Movimiento.id_Solicitud</td>
                                                <td>@movimiento.solicitud_Movimiento.usuario_Solicitud.nombre_Usr</td>
                                                <td class="text-center">@movimiento.solicitud_Movimiento.fch_Ingreso.ToString("dd-MM-yyyy hh:mm")</td>
                                                @if (@movimiento.solicitud_Movimiento.id_Prioridad.Equals(1))
                                                {
                                                    <td style="width: 20px; text-align: center; background-color: crimson; color: white;">@movimiento.solicitud_Movimiento.prioridad_Solicitud.dsc_Prioridad</td>
                                                }
                                                else if (movimiento.solicitud_Movimiento.id_Prioridad.Equals(2))
                                                {
                                                    <td class="bg-warning text-white text-center" style="width: 20px;"> @movimiento.solicitud_Movimiento.prioridad_Solicitud.dsc_Prioridad</td>
                                                }
                                                else
                                                {
                                                    <td class="bg-success text-white" style="width: 20px; text-align: center;">@movimiento.solicitud_Movimiento.prioridad_Solicitud.dsc_Prioridad</td>
                                                }
                                                @*<td>@solicitud.asunto_Sol</td>*@
                                                <td style="text-align: center;">@movimiento.estado_Movimiento.dsc_Estado_Sol</td>
                                                <td>@movimiento.solicitud_Movimiento.detalle_Sol</td>

                                                <th style="text-align: center;">
                                                    <a href="#" id="asigna" data-nombre="@movimiento.solicitud_Movimiento.usuario_Solicitud.nombre_Usr" data-id="@movimiento.id_Solicitud" data-toggle="modal" data-target="#historial">
                                                        Ver Movimientos
                                                    </a>
                                                </th>


                                                <td>
                                                    @if (@movimiento.solicitud_Movimiento.cod_Estado_Sol.Equals("ASI"))
                                                    {
                                                        <a class="mr-2" href="#" data-placement="top" title="Dejar en espera" id="dejarenespera" data-nombre="@movimiento.solicitud_Movimiento.usuario_Solicitud.nombre_Usr" data-id="@movimiento.solicitud_Movimiento.id_Solicitud" data-toggle="modal" data-target="#espera">
                                                            <i class="bi bi-hourglass-split"></i>
                                                        </a>

                                                        <a class="mr-2" href="#" data-placement="top" title="Comenzar tarea" id="comenzar" data-nombre="@movimiento.solicitud_Movimiento.usuario_Solicitud.nombre_Usr" data-id="@movimiento.solicitud_Movimiento.id_Solicitud" data-toggle="modal" data-target="#iniciacion">
                                                            <i class="bi bi-arrow-up-right-circle-fill"></i>
                                                        </a>

                                                        <a class="mr-2" href="#" data-placement="top" title="Se requiere mas antecedentes" id="masantecedentes" data-nombre="@movimiento.solicitud_Movimiento.usuario_Solicitud.nombre_Usr" data-id="@movimiento.solicitud_Movimiento.id_Solicitud" data-toggle="modal" data-target="#antecedentes">
                                                            <i class="bi bi-x-square-fill"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        if (@movimiento.solicitud_Movimiento.cod_Estado_Sol.Equals("PRC"))
                                                        {
                                                            <a class="mr-2" href="#" data-placement="top" title="Dejar en espera" id="dejarenespera" data-nombre="@movimiento.solicitud_Movimiento.usuario_Solicitud.nombre_Usr" data-id="@movimiento.solicitud_Movimiento.id_Solicitud" data-toggle="modal" data-target="#espera">
                                                                <i class="bi bi-hourglass-split"></i>
                                                            </a>
                                                            <a class="mr-2" href="#" data-placement="top" title="Se requiere mas antecedentes" id="masantecedentes" data-nombre="@movimiento.solicitud_Movimiento.usuario_Solicitud.nombre_Usr" data-id="@movimiento.solicitud_Movimiento.id_Solicitud" data-toggle="modal" data-target="#antecedentes">
                                                                <i class="bi bi-x-square-fill"></i>
                                                            </a>
                                                            <a class="mr-2" href="#" data-placement="top" title="Resolución de actividad" id="resolucionactividad" data-nombre="@movimiento.solicitud_Movimiento.usuario_Solicitud.nombre_Usr" data-id="@movimiento.solicitud_Movimiento.id_Solicitud" data-toggle="modal" data-target="#resolucion">
                                                                <i class="bi bi-check-square-fill"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            if (@movimiento.solicitud_Movimiento.cod_Estado_Sol.Equals("DEV"))
                                                            {
                                                                <a class="mr-2" href="#" data-placement="top" title="Dejar en espera" id="dejarenespera" data-nombre="@movimiento.solicitud_Movimiento.usuario_Solicitud.nombre_Usr" data-id="@movimiento.solicitud_Movimiento.id_Solicitud" data-toggle="modal" data-target="#espera">
                                                                    <i class="bi bi-hourglass-split"></i>
                                                                </a>
                                                                <a class="mr-2" href="#" data-placement="top" title="Comenzar tarea" id="comenzar" data-nombre="@movimiento.solicitud_Movimiento.usuario_Solicitud.nombre_Usr" data-id="@movimiento.solicitud_Movimiento.id_Solicitud" data-toggle="modal" data-target="#iniciacion">
                                                                    <i class="bi bi-arrow-up-right-circle-fill"></i>
                                                                </a>
                                                                <a class="mr-2" href="#" data-placement="top" title="Se requiere mas antecedentes" id="masantecedentes" data-nombre="@movimiento.solicitud_Movimiento.usuario_Solicitud.nombre_Usr" data-id="@movimiento.solicitud_Movimiento.id_Solicitud" data-toggle="modal" data-target="#antecedentes">
                                                                    <i class="bi bi-x-square-fill"></i>
                                                                </a>
                                                            }
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                using (Html.BeginForm("SignIn", "Account", null, FormMethod.Post, null))
                {

                    <div class="jumbotron bg-white shadow col-md-4 offset-md-4 mt-3 py-4">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img src="~/img/LogoGrupoSantaFe.svg" alt="" class="img-fluid rounded-lg shadow" style="height: 150px;">
                            </div>
                            <div class="col-5 text-right mt-4">
                                Usuario:
                            </div>
                            <div class="col-7 text-left mt-4">
                                <input type="text" id="email" name="email" placeholder="email@dominio.cl" />
                            </div>
                            <div class="col-5 text-right mt-2">
                                Contraseña:
                            </div>
                            <div class="col-7 text-left mt-2">
                                <input type="password" id="password" name="password" />
                            </div>
                            <div class="col-12 text-center mt-4">
                                <button type="submit" class="btn btn-primary btn-large shadow">Click aquí para iniciar sesión</button>
                            </div>

                            <div class="col-12 text-center mt-4">
                                <a href="@Url.Action("Olvido", "CambioClave")"><i class="bi bi-patch-question"></i> ¿Olvidó su Clave?</a>
                            </div>

                            @if (TempData["Mensaje"] != null)
                            {
                                <div class="content col-12 alert alert-danger mt-4">
                                    <button type="button" class="close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    @TempData["Mensaje"].ToString()
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>



<!-- HISTORIAL DE MOVIMIENTOS DE LA SOLICITUD -->
<div class="modal fade" id="historial" tabindex="-1" role="dialog" style="display: none;"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label">Historial de Movimientos de la Solicitud Número <label id="solicitudMovimiento"></label> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table id="grilla_movimientos" class="table table-bordered text-dark table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th class="w-auto">N°</th>
                                    <th class="w-auto">Fecha</th>
                                    <th class="w-auto">Usuario</th>
                                    <th class="w-auto">Estado</th>
                                    <th class="w-auto">Evidencia</th>
                                    <th class="w-25">Observación</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- COMIEZO DE TAREA (INICIAR TRABAJO) -->
<div class="modal fade" id="iniciacion" tabindex="-1" role="dialog" style="display: none;"
     aria-hidden="true">
    @using (Html.BeginForm("Iniciacion", "Home", null, FormMethod.Post, null))
    {

        @Html.HiddenFor(Model => solicitud.id_Solicitud)

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Inicio de actividades solicitud Número : <label id="solicitudMovimiento"></label> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-group">
                                    <b><label for="nombre">Asunto:</label></b>
                                    <label id="solicitudMovimientoAsunto"></label>
                                </div>
                                <div class="form-group">
                                    <b><label for="apellido">Detalle:</label></b>
                                    <label id="solicitudMovimientoDetalle"></label>
                                </div>
                                <div class="form-group">

                                </div>
                                <div class="form-group">
                                    <b><label for="email">Observación para comenzar el trabajo:</label></b>
                                    @Html.TextAreaFor(Model => estadoSolicitudMovimiento.observacion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => estadoSolicitudMovimiento.observacion, null, new { @class = "text-danger" })
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Iniciar Actividad</button>
                </div>
            </div>
        </div>
    }
</div>


<!-- DEJAR TAREA EN ESPERA -->
<div class="modal fade" id="espera" tabindex="-1" role="dialog" style="display: none;"
     aria-hidden="true">
    @using (Html.BeginForm("Espera", "Home", null, FormMethod.Post, null))
    {

        @Html.HiddenFor(Model => solicitudEspera.id_Solicitud)

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Dejar en espera solicitud Número : <label id="solicitudMovimientoEspera"></label> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-group">
                                    <b><label for="nombre">Asunto:</label></b>
                                    <label id="solicitudMovimientoAsuntoEspera"></label>
                                </div>
                                <div class="form-group">
                                    <b><label for="apellido">Detalle:</label></b>
                                    <label id="solicitudMovimientoDetalleEspera"></label>
                                </div>
                                <div class="form-group">

                                </div>
                                <div class="form-group">
                                    <b><label for="email">Observación:</label></b>
                                    @Html.TextAreaFor(Model => estadoSolicitudMovimientoEspera.observacion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => estadoSolicitudMovimientoEspera.observacion, null, new { @class = "text-danger" })
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Dejar en Espera</button>
                </div>
            </div>
        </div>
    }
</div>


<!-- RESOLVER DE TAREA (TERMINAR TRABAJO / RESOLUCION) -->
<div class="modal fade" id="resolucion" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    @using (Html.BeginForm("Resolucion", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(Model => solicitudResolucion.id_Solicitud)

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Resolución de actividad. Número de Solicitud: <label id="solicitudMovimientoResolucion"></label> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-group">
                                    <b><label for="nombre">Asunto:</label></b>
                                    <label id="solicitudMovimientoAsuntoResolucion"></label>
                                </div>
                                <div class="form-group">
                                    <b><label for="apellido">Detalle:</label></b>
                                    <label id="solicitudMovimientoDetalleResolucion"></label>
                                </div>
                                <div class="form-group">
                                    <b><label for="email">Observación de la resolución:</label></b>
                                    @Html.TextAreaFor(Model => estadoSolicitudMovimientoResolucion.observacion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => estadoSolicitudMovimientoResolucion.observacion, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <b><label for="email">Horas invertidas en la tarea:</label></b>
                                    @Html.TextBoxFor(Model => estadoSolicitudMovimientoResolucion.horas_Dedicadas, new { @class = "form-control", @maxlength="2" })
                                    @Html.ValidationMessageFor(Model => estadoSolicitudMovimientoResolucion.horas_Dedicadas, null, new { @class = "text-danger" })
                                </div>
                                <!--ESTO ES PARA LA SUBIDA DE DOCUMENTO-->
                                <div class="form-group">
                                    <b><label for="email">Documento Adjunto:</label></b>
                                    <section>
                                        @Html.TextBoxFor(x => archivo.ImageFile, new { type = "file", accept = ".doc,.docx,.jpg,.png,.xls,.xlsx,.pdf" })
                                        @Html.ValidationMessageFor(x => archivo.ImageFile, "", new { @class = "text-danger" })
                                        <ul id="preview"></ul>
                                    </section>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Resolver Actividad</button>
                </div>
            </div>
        </div>
    }
</div>


<!-- SE REQUIEREN MAS ANTECEDENTES -->
<div class="modal fade" id="antecedentes" tabindex="-1" role="dialog" style="display: none;"
     aria-hidden="true">
    @using (Html.BeginForm("Antecedentes", "Home", null, FormMethod.Post, null))
    {

        @Html.HiddenFor(Model => solicitudAntecedentes.id_Solicitud)

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Solicitud de más antecedentes. Solicitud Número <label id="solicitudMovimientoAntecedentes"></label> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-group">
                                    <b><label for="nombre">Asunto:</label></b>
                                    <label id="solicitudMovimientoAsuntoAntecedentes"></label>
                                </div>
                                <div class="form-group">
                                    <b><label for="apellido">Detalle:</label></b>
                                    <label id="solicitudMovimientoDetalleAntecedentes"></label>
                                </div>
                                <div class="form-group">

                                </div>
                                <div class="form-group">
                                    <b><label for="email">Observación más Antecedentes:</label></b>
                                    @Html.TextAreaFor(Model => estadoSolicitudMovimientoAntecedentes.observacion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(Model => estadoSolicitudMovimientoAntecedentes.observacion, null, new { @class = "text-danger" })
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Solicitar más Antecedentes</button>
                </div>
            </div>
        </div>
    }
</div>



<script type="text/javascript">
    $(function () {
        $('select').each(function () {
            $(this).select2({
                theme: 'bootstrap4',
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                allowClear: Boolean($(this).data('allow-clear')),
                closeOnSelect: !$(this).attr('multiple'),
            });
        });
    });
</script>

