﻿@{
    var alerts = TempData.ContainsKey(SDI_Gestion.Models.Alert.AlertKey)
        ? (List<SDI_Gestion.Models.Alert>)TempData[SDI_Gestion.Models.Alert.AlertKey]
        : new List<SDI_Gestion.Models.Alert>();
}


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <title>Grupo Santafe</title>

    <!-- BOOTSTRAP PERSONALIZADO -->
    <link rel="stylesheet" href="~/css/personalizados.css">

    <!-- PERSONALIZACION DE ELEMENTOS -->
    <link rel="stylesheet" href="~/css/estilos.css">

    <!-- ICONOS BOOTSTRAPS -->
    <link rel="stylesheet" href="~/css/bootstrap-icons.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&family=Roboto:wght@100;300;400;700&display=swap"
          rel="stylesheet">

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="~/Scripts/popper-utils.js"></script>
    <!-- JQUERY VALIDATION-->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script src="~/js/validaciones.js"></script>

    <!-- ANIMACION -->
    <link rel="stylesheet" href="~/css/animations.css" type="text/css">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        @if (!(Session["user_Name"] == null))
        {
            <nav id="sidebar">
                <div class="sidebar-header">
                    <img src="~/img/LogoGrupoSantaFe.svg" alt="" class="img-fluid shadow-lg mr-4" style="height: 60px;">
                    Grupo Santafe
                </div>

                <ul class="list-unstyled components">
                    <li class="@(ViewBag.Message2 == "Home" ? "active" : "")">
                        <a href="@Url.Action("Index", "Home")"> <i class="bi bi-house-door-fill mr-3"></i> Inicio</a>
                    </li>
                    @*<li>
                            <a href="#!" data-toggle="collapse" data-target="#itemCollapsableMenu"><i class="bi bi-stack mr-3"></i> Solicitudes <i class="bi bi-caret-left-fill"></i></a>
                            <div class="@(ViewBag.Message == "Proyectos" ? "collapse navbar-collapse show" : "collapse navbar-collapse")" id="itemCollapsableMenu">
                                <a href="@Url.Action("Index", "Solicitud")" class="@(ViewBag.Message2 == "Ingreso" ? "item-drop-menu active" : "item-drop-menu")">Ingreso</a>
                                <a href="@Url.Action("Toma", "Solicitud")" class="@(ViewBag.Message2 == "Tomar" ? "item-drop-menu active" : "item-drop-menu")">Tomar</a>
                                <a href="@Url.Action("Asignacion", "Solicitud")" class="@(ViewBag.Message2 == "Asignar" ? "item-drop-menu active" : "item-drop-menu")">Asignar</a>
                                <a href="@Url.Action("Index","Seguimiento")" class="@(ViewBag.Message2 == "Seguimiento" ? "item-drop-menu active" : "item-drop-menu")">Seguimiento</a>
                            </div>
                        </li>
                        <li>
                            <a href="#!" data-toggle="collapse" data-target="#itemCollapsableMenu1"><i class="bi bi-gear-fill mr-3"></i> Mantenedores <i class="bi bi-caret-left-fill"></i></a>
                            <div class="@(ViewBag.Message == "Mantenedores" ? "collapse navbar-collapse show" : "collapse navbar-collapse")" id="itemCollapsableMenu1">
                                <a href="@Url.Action("Index", "Usuario")" class="@(ViewBag.Message2 == "Usuarios" ? "item-drop-menu active" : "item-drop-menu")">Usuarios</a>
                                <a href="@Url.Action("Index", "Perfiles")" class="@(ViewBag.Message2 == "Perfiles" ? "item-drop-menu active" : "item-drop-menu")">Perfiles</a>
                            </div>
                        </li>
                        <li>
                            <a href="#"><i class="bi bi-file-bar-graph-fill mr-3"></i> Reporteria</a>
                        </li>*@

                    <li class="text-light px-3">
                        <div class="w-100" style="border-top: 0.5px solid rgba(255, 255, 255, 0.2);">
                            <small class="text-uppercase text-white-50">Solicitudes</small>
                        </div>
                    </li>
                    <li class="@(ViewBag.Message2 == "Ingreso" ? "active" : "")">
                        <a href="@Url.Action("Index", "Solicitud")"><i class="bi bi-pencil-square mr-3"></i> Ingreso</a>
                    </li>
                    <li class="@(ViewBag.Message2 == "Tomar" ? "active" : "")">
                        <a href="@Url.Action("Toma", "Solicitud")"><i class="bi bi-arrow-left-circle-fill mr-3"></i> Tomar</a>
                    </li>
                    <li class="@(ViewBag.Message2 == "Asignar" ? "active" : "")">
                        <a href="@Url.Action("Asignacion", "Solicitud")"><i class="bi bi-arrow-right-circle-fill mr-3"></i> Asignar</a>
                    </li>
                    <li class="@(ViewBag.Message2 == "Seguimiento" ? "active" : "")">
                        <a href="@Url.Action("Index", "Seguimiento")"><i class="bi bi-ui-checks mr-3"></i> Seguimiento</a>
                    </li>
                    <li class="text-light px-3">
                        <div class="w-100" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">
                            <small class="text-uppercase text-white-50"></small>
                        </div>
                    </li>
                    <li class="text-light px-3">
                        <div class="w-100" style="border-top: 0.5px solid rgba(255, 255, 255, 0.2);">
                            <small class="text-uppercase text-white-50">Mantenedores</small>
                        </div>
                    </li>
                    <li class="@(ViewBag.Message2 == "Usuarios" ? "active" : "")">
                        <a href="@Url.Action("Index", "Usuario")"><i class="bi bi-person-circle mr-3"></i> Usuarios</a>
                    </li>
                    <li class="@(ViewBag.Message2 == "Perfiles" ? "active" : "")">
                        <a href="@Url.Action("Index", "Perfiles")"><i class="bi bi-key-fill mr-3"></i> Perfiles y Accesos</a>
                    </li>
                    <li class="text-light px-3">
                        <div class="w-100" style="border-top: 0.5px solid rgba(255, 255, 255, 0.2);">
                            <small class="text-uppercase text-white-50">Reporteria</small>
                        </div>
                    </li>
                    <li class="@(ViewBag.Message2 == "Informe" ? "active" : "")">
                        <a href="@Url.Action("Index", "Informe")"><i class="bi bi-file-bar-graph-fill mr-3"></i> Informe de H.H.</a>
                    </li>

                </ul>

            </nav>
        }
        <div class="container-fluid px-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container-fluid py-3">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="bi bi-sliders"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi bi-list "></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            @*<li class="nav-item">
                                    <a class="nav-link text-light" href="#">
                                        <i class="bi bi-bell-fill text-light"></i>
                                    </a>
                                </li>*@
                            @if (!(Session["user_Name"] == null))
                            {
                                <li class="nav-item">
                                    <div class="dropdown ">
                                        <a href="#" class="nav-link text-light" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bi bi-person-circle mr-2"></i> @Session["user_Name"].ToString().Trim() @Session["user_Apellido"].ToString().Trim()
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                            <a class="dropdown-item" href="#!">@Session["user_Email"].ToString().Trim()</a>
                                            <div class="dropdown-divider"></div>
                                            @Html.ActionLink("Cerrar sesión", "SignOut", "Account", new { area = "" }, new { @class = "dropdown-item" })

                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Contenido  -->
            <div id="content" class="bg-light">

                @RenderBody()

            </div>
        </div>

    </div>

    <!-- POPPER -->
    <script src="~/js/popper.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="~/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });


        $(document).ready(function () {
            var cambio = false;
            $('.nav li a').each(function (index) {
                if (this.href.trim() == window.location) {
                    $(this).parent().addClass("active");
                    $(this).closest('.dropdown').addClass("active");
                    cambio = true;
                }
            });
            if (!cambio) {
                $('.nav li:first').addClass("active");
            }
        });

    </script>

    <script>
        $('.collapse').on('shown.bs.collapse', function () {
            $(this).parent().find(".bi-caret-left-fill").removeClass("bi-caret-left-fill").addClass("bi-caret-down-fill");
        }).on('hidden.bs.collapse', function () {
            $(this).parent().find(".bi-caret-down-fill").removeClass("bi-caret-down-fill").addClass("bi-caret-left-fill");
        });
    </script>


</body>

</html>


